{
  "extends": [
    "lxsmnsyc/typescript/react"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "react/require-default-props": "off",
    "no-await-in-loop": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
